*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
	background: url(img/VAULT2.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	margin-top: 5%;
	background: rgba(255,255,255,0.15);
	width: 400px;
	height: 415px;
	box-shadow: 0 8px 32px 0 rgba(20, 80, 19, 0.37);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 10px;
	color: #fff;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.profilepic {
	width: 125px;
	height: 125px;
	border-radius: 50%;
	border: 2px solid rgba(255,255,255,0.2);
}
.title {
	margin-top: 10px;
}
.desg {
	font-size: 0.8em;
	opacity: 0.7;
}
.desc {
	margin-top: 12px;
	opacity: 0.85;
	font-size: 0.9em;
}
.social {
	margin-top: 1em;
}
.social a {
	text-decoration: none;
	font-size: 1.2em;
	color: #fff;
	padding: 8px;
	transition: 0.1s;
}
.social a:hover {
	color: #1b07ac;
}
